<a href="<%=html_url%>" target="top"><img class="ll-user-picture" src="<%=avatar_url%>"></a>
<br>
<a href="<%=html_url%>" target="top" class="ll-user-name"><%=name%></a>
<p><%=name%>'s favourite programming language is <strong><%= favourite_language %></strong></p>